* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #0070f3;
  --white: #fff;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

body {
  font-family: 'Poppins', sans-serif;
}

body .safe-zone {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  body .safe-zone {
    padding: 0 .5rem;
  }
}

body strong {
  font-weight: var(--font-bold);
}

body .highlight {
  color: var(--primary);
}

body a {
  color: inherit;
  text-decoration: none;
}

body .fixed_button_below {
  position: fixed;
  z-index: 99;
  bottom: -250px;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
}

body .fixed_button_below.active {
  bottom: 0;
}

body .fixed_button_below .fixed_button {
  background-color: var(--primary);
  color: var(--white);
  padding: .7rem 3rem;
  border-radius: .5rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
}

body .fixed_button_below .fixed_button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media (max-width: 991.98px) {
  body .fixed_button_below .fixed_button {
    padding: .7rem 1rem;
  }
}

body .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./assets/presentation_background.svg") #eee;
}

body .presentation .safe-zone {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  text-align: center;
}

@media (max-width: 991.98px) {
  body .presentation .safe-zone {
    max-width: 1120px;
  }
}

body .presentation .safe-zone .presentation_title {
  font-size: 2rem;
  font-weight: var(--font-medium);
  margin-top: 2rem;
  line-height: 2.6rem;
}

@media (max-width: 991.98px) {
  body .presentation .safe-zone .presentation_title {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

body .presentation .safe-zone .presentation_description {
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: var(--font-regular);
}

@media (max-width: 991.98px) {
  body .presentation .safe-zone .presentation_description {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

body .presentation .safe-zone .presentation_link {
  background-color: var(--primary);
  color: var(--white);
  padding: 1.5rem 2.2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
}

body .presentation .safe-zone .presentation_link:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media (max-width: 991.98px) {
  body .presentation .safe-zone .presentation_link {
    width: 100%;
    padding: 1rem .5rem;
  }
}

body .presentation .safe-zone .presentation_link .presentation_link__title {
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  font-size: 2rem;
  line-height: 2.4rem;
}

@media (max-width: 991.98px) {
  body .presentation .safe-zone .presentation_link .presentation_link__title {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

body .presentation .safe-zone .presentation_link .presentation_link__price {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: var(--font-regular);
}

@media (max-width: 991.98px) {
  body .presentation .safe-zone .presentation_link .presentation_link__price {
    font-size: .9rem;
    line-height: 1.3rem;
  }
}

body .presentation .safe-zone .presentation_list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 2.5rem auto;
}

@media (max-width: 991.98px) {
  body .presentation .safe-zone .presentation_list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .presentation .safe-zone .presentation_list .presentation_list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
}

body .presentation .safe-zone .presentation_list .presentation_list__item img {
  width: 15px;
  height: 15px;
}

body .foryou {
  padding: 5rem 0 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 5rem;
}

@media (max-width: 991.98px) {
  body .foryou {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
    padding: 2rem 0 3rem 0;
  }
}

@media (max-width: 991.98px) {
  body .foryou .foryou_list_item__container {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .foryou .foryou_list_item__container .foryou_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

body .foryou .foryou_list_item__container .foryou_list .foryou_list__title {
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  body .foryou .foryou_list_item__container .foryou_list .foryou_list__title {
    text-align: center;
  }
}

body .foryou .foryou_list_item__container .foryou_list .foryou_list__title.first span {
  background-color: var(--primary);
  color: var(--white);
  padding: 0 .5rem;
}

body .foryou .foryou_list_item__container .foryou_list .foryou_list__title.second span {
  background-color: #ff3932;
  color: var(--white);
  padding: 0 .5rem;
}

body .foryou .foryou_list_item__container .foryou_list .foyou_list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

body .testimonials {
  margin: 0 auto;
}

body .testimonials .testimonials_title__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 991.98px) {
  body .testimonials .testimonials_title__container {
    display: block;
  }
}

body .testimonials .testimonials_title__container .testimonials_title {
  font-size: 2.5rem;
  font-weight: var(--font-medium);
  margin: auto 0;
}

@media (max-width: 991.98px) {
  body .testimonials .testimonials_title__container .testimonials_title {
    font-size: 1.6rem;
    text-align: center;
  }
}

body .testimonials .testimonials_title__container .testimonials_grill__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991.98px) {
  body .testimonials .testimonials_title__container .testimonials_grill__container {
    display: none;
  }
}

body .testimonials .testimonials_list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 767.98px) {
  body .testimonials .testimonials_list__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .testimonials .testimonials_list__container .testimonials_list__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

body .testimonials .testimonials_list__container .testimonials_list__col img {
  border-radius: 1rem;
  width: 250px;
}

@media (min-width: 767.99px) and (max-width: 991.98px) {
  body .testimonials .testimonials_list__container .testimonials_list__col img {
    width: 200px;
  }
}

body .included {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

@media (max-width: 991.98px) {
  body .included {
    padding-top: 3rem;
  }
}

body .included .included_title__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 991.98px) {
  body .included .included_title__container {
    display: block;
    margin-bottom: 2rem;
  }
}

body .included .included_title__container .included_title {
  font-size: 2.5rem;
  line-height: 2.9rem;
  font-weight: var(--font-medium);
}

@media (max-width: 991.98px) {
  body .included .included_title__container .included_title {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
  }
}

body .included .included_title__container .included_grill__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991.98px) {
  body .included .included_title__container .included_grill__container {
    display: none;
  }
}

body .included .included_slider_title {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 2rem;
}

body .included .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  body .included .swiper {
    padding-top: 25px;
  }
}

body .included .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border: 2px solid var(--primary);
  border-radius: 1rem;
  overflow: hidden;
}

body .included .swiper .swiper-slide img {
  display: block;
  width: 100%;
}

@media (max-width: 575.98px) {
  body .included .swiper .swiper-button-next::after {
    margin-right: 90px;
  }
}

@media (max-width: 575.98px) {
  body .included .swiper .swiper-button-prev::after {
    margin-left: 90px;
  }
}

body .payment {
  background-color: #151515;
}

body .payment .safe-zone {
  padding: 3rem 0;
  text-align: center;
  color: #fff;
}

body .payment .safe-zone .payment_title {
  width: 70%;
  margin: 0 auto;
  font-size: 2.6rem;
  line-height: 3rem;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  body .payment .safe-zone .payment_title {
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

body .payment .safe-zone .payment_subtitle {
  font-weight: var(--font-bold);
}

body .payment .safe-zone .payment_modal {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  border: 5px solid #303030;
}

@media (max-width: 991.98px) {
  body .payment .safe-zone .payment_modal {
    max-width: 100%;
    width: 90%;
    padding: 2rem 1rem;
  }
}

body .payment .safe-zone .payment_modal .payment_modal_price-container .payment_modal__info {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: var(--font-medium);
}

@media (max-width: 991.98px) {
  body .payment .safe-zone .payment_modal .payment_modal_price-container .payment_modal__info {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

body .payment .safe-zone .payment_modal .payment_modal_price-container .payment_modal__price {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: var(--font-bold);
}

@media (max-width: 991.98px) {
  body .payment .safe-zone .payment_modal .payment_modal_price-container .payment_modal__price {
    font-size: 3rem;
    line-height: 3.4rem;
  }
}

body .payment .safe-zone .payment_modal .payment_list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

body .payment .safe-zone .payment_modal .payment_list .payment_list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

body .payment .safe-zone .payment_modal .payment_list .payment_list__item .payment_list__item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1rem;
}

body .payment .safe-zone .payment_modal .payment_list .payment_list__item .payment_list__item__title span {
  color: #ff3932;
}

body .payment .safe-zone .payment_modal .payment_link {
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  padding: 1.2rem 3rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 15px 0 #0070f3;
          box-shadow: 0 0 15px 0 #0070f3;
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
}

body .payment .safe-zone .payment_modal .payment_link:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media (max-width: 991.98px) {
  body .payment .safe-zone .payment_modal .payment_link {
    width: 100%;
    padding: 1rem;
  }
}

body .payment .safe-zone .payment_modal .payment_link .payment_link__title {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: 1.7rem;
  line-height: 2.1rem;
}

@media (max-width: 991.98px) {
  body .payment .safe-zone .payment_modal .payment_link .payment_link__title {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

body .payment .safe-zone .payment_modal .payment_link .payment_link__price {
  font-size: .8rem;
  line-height: 1.4rem;
}

body .payment .safe-zone .payment_modal .payment_methods_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
}

body .payment .safe-zone .payment_modal .payment_methods_container p {
  color: #7C828D;
}

body .payment .safe-zone .payment_modal .payment_methods_container img {
  width: 100%;
  opacity: .6;
}

body .garantee {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

@media (max-width: 991.98px) {
  body .garantee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .garantee .garantee_image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .garantee .garantee_image_container img {
  width: 300px;
}

body .garantee .garantee_info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media (max-width: 991.98px) {
  body .garantee .garantee_info_container {
    padding: 0 1rem;
    text-align: center;
  }
}

body .garantee .garantee_info_container .garantee_info__title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: var(--font-medium);
}

body .garantee .garantee_info_container .garantee_info__description {
  font-weight: var(--font-regular);
}

body .faq {
  padding: 3rem 0 3rem 3rem;
}

@media (max-width: 991.98px) {
  body .faq {
    padding: 1rem;
  }
}

body .faq .faq_title {
  width: 40%;
  font-size: 2.5rem;
  line-height: 2.9rem;
  font-weight: var(--font-bold);
  color: #151515;
}

body .faq .faq_modal {
  margin-top: 2rem;
}

body .faq .faq_modal .faq_modal_item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

body .faq .faq_modal .faq_modal_item .faq_modal_header {
  color: #151515;
  font-size: 1.1rem;
  font-weight: var(--font-medium);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  margin-top: 1rem;
}

body .faq .faq_modal .faq_modal_item .faq_modal_header span {
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
}

body .faq .faq_modal .faq_modal_item .faq_modal_header .faq_modal_header__drop-down {
  background-color: #151515;
  -webkit-mask: url(./assets/arrow-drop-down.svg) no-repeat center;
  mask: url(./assets/arrow-drop-down.svg) no-repeat center;
  background-size: cover;
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
  pointer-events: none;
}

body .faq .faq_modal .faq_modal_item .faq_modal_header .faq_modal_header__drop-down img {
  opacity: 0;
}

body .faq .faq_modal .faq_modal_item .faq_modal_description {
  font-weight: var(--font-regular);
  color: #7A7A7A;
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  margin: .5rem 0;
  -webkit-transition: linear .4s all;
  transition: linear .4s all;
  pointer-events: none;
}

@media (max-width: 991.98px) {
  body .faq .faq_modal .faq_modal_item .faq_modal_description {
    padding: 0 1rem;
  }
}

body .faq .faq_modal .faq_modal_item.active .faq_modal_header {
  color: var(--primary);
}

body .faq .faq_modal .faq_modal_item.active .faq_modal_header .faq_modal_header__drop-down {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: var(--primary);
}

body .faq .faq_modal .faq_modal_item.active .faq_modal_description {
  max-height: 300px;
}

body .faq .faq_modal .faq_modal_item.active .faq_modal_description {
  margin: 1rem 0;
}

body footer {
  padding: 3rem 1rem 8rem 1rem;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

body footer p {
  width: 60%;
  margin: 0 auto;
  color: #555555;
  text-align: center;
  font-size: .6rem;
}

@media (max-width: 991.98px) {
  body footer p {
    width: 100%;
  }
}

body footer .footer_copy {
  font-size: .9rem;
}
/*# sourceMappingURL=styles.css.map */